.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #fff;
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 48px;
  border: 2px solid #14519f;
  font-size: 28px;
  color: #14519f;
}

.date-picker.selected {
  font-weight: bold;
  outline: 3px solid #00bcd4;
}

.date-picker:nth-child(1) {
  color: #e40000;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}
